In [52]:
# Importar librer√≠as

import numpy as np
import pandas as pd

In [53]:
# Carga de datos

df = pd.read_csv("data/EILU_2019.csv",sep="\t")

C:\Users\beatr\AppData\Local\Temp\ipykernel_17660\1959677375.py:3: DtypeWarning: Columns (119) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/EILU_2019.csv",sep="\t")

El data frame principal tiene 31651 registros y 299 columnas.

In [54]:
df

,IDENT,SEXO,EDAD,NACIO,NACIO1,NACIO2,PAIS_NACI,TITU,RAMA,AMBITO,...,ANHCUR4,DENCUR5,DURCUR5,RESCUR5,ANHCUR5,DENCUR6,DURCUR6,RESCUR6,ANHCUR6,FACTOR
0,1,1,1,1,,,1,11101,3,11,...,,,,,,,,,,9.894742
1,2,1,1,1,,,1,11101,3,11,...,,,,,,,,,,9.894742
2,3,1,1,1,,,1,11101,3,11,...,,,,,,,,,,10.965467
3,4,1,1,1,,,1,11101,3,11,...,,,,,,,,,,10.859689
4,5,1,1,1,,,1,11101,3,11,...,,,,,,,,,,10.859689
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31646,31647,2,2,1,,,1,109999,3,109,...,,,,,,,,,,1.780764
31647,31648,2,2,1,,,1,109999,3,109,...,,,,,,,,,,1.780764
31648,31649,1,3,1,,,1,109999,3,109,...,,,,,,,,,,3.038041
31649,31650,1,1,1,,,1,109999,3,109,...,,,,,,,,,,3.038041
31650,31651,1,3,1,,,1,109999,3,109,...,,,,,,,,,,2.311008

Nos quedamos con columnas que nos interesan seg√∫n el registro

In [56]:
# Limpieza de datos
estudiantes = df[['IDENT','SEXO','EDAD','NACIO','TITU','RAMA','AMBITO','T_UNIV','DISCA','ESTUDIOS_PADRE','ESTUDIOS_MADRE',
                  'EST_B8','SAT1','EST_B11_1','EST_B11_2','EST_B11_3','EST_B11_4','EST_B11_5','EST_B11_6','EST_B12','IDIOMAS',
                  'IDIOMA1','NIV_ID1','ACREIDI1','TIPOACREIDI1','IDIOMA2','NIV_ID2','ACREIDI2','TIPOACREIDI2','IDIOMA3','NIV_ID3',
                  'ACREIDI3','TIPOACREIDI3','TRBPRN1','TRBPRN2','TRINAC_D4','TRINAC_D5','TRINAC_D6','TRPARA_D5','TRPARA_D6','TRAC_D9',
                  'LUG_TRAB_PAIS','SIT_PRO','HL_E1','HL_E2','HL_E3','HL_E5', 'P_CONTI']]

In [57]:
estudiantes

,IDENT,SEXO,EDAD,NACIO,TITU,RAMA,AMBITO,T_UNIV,DISCA,ESTUDIOS_PADRE,...,TRPARA_D5,TRPARA_D6,TRAC_D9,LUG_TRAB_PAIS,SIT_PRO,HL_E1,HL_E2,HL_E3,HL_E5,P_CONTI
0,1,1,1,1,11101,3,11,2,2,2,...,,,2,01,2,3,3,2,,2
1,2,1,1,1,11101,3,11,2,2,3,...,,,2,01,2,3,2,1,2,2
2,3,1,1,1,11101,3,11,1,2,3,...,,,2,01,3,1,1,2,,2
3,4,1,1,1,11101,3,11,1,2,7,...,,,2,01,3,1,2,1,2,2
4,5,1,1,1,11101,3,11,1,2,8,...,,,,,,1,1,2,,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31646,31647,2,2,1,109999,3,109,1,2,9,...,,,2,01,2,3,2,2,,2
31647,31648,2,2,1,109999,3,109,1,2,6,...,,,2,01,2,1,1,2,,1
31648,31649,1,3,1,109999,3,109,1,2,3,...,,,2,01,2,1,2,1,2,1
31649,31650,1,1,1,109999,3,109,1,2,8,...,,,2,01,2,4,,1,2,2
31650,31651,1,3,1,109999,3,109,1,2,4,...,,,2,01,2,4,,1,1,1

In [58]:
estudiantes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31651 entries, 0 to 31650
Data columns (total 49 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   IDENT           31651 non-null  int64
 1   SEXO            31651 non-null  int64
 2   EDAD            31651 non-null  int64
 3   NACIO           31651 non-null  int64
 4   TITU            31651 non-null  int64
 5   RAMA            31651 non-null  int64
 6   AMBITO          31651 non-null  int64
 7   T_UNIV          31651 non-null  int64
 8   DISCA           31651 non-null  int64
 9   ESTUDIOS_PADRE  31651 non-null  int64
 10  ESTUDIOS_MADRE  31651 non-null  int64
 11  EST_B8          31651 non-null  int64
 12  SAT1            31651 non-null  int64
 13  SAT2            31651 non-null  object
 14  EST_B11_1       31651 non-null  int64
 15  EST_B11_2       31651 non-null  int64
 16  EST_B11_3       31651 non-null  int64
 17  EST_B11_4       31651 non-null  int64
 18  EST_B11_5       31651 non-null  int64
 19  EST_B11_6       31651 non-null  int64
 20  EST_B12         31651 non-null  object
 21  IDIOMAS         31651 non-null  int64
 22  IDIOMA1         31651 non-null  object
 23  NIV_ID1         31651 non-null  object
 24  ACREIDI1        31651 non-null  object
 25  TIPOACREIDI1    31651 non-null  object
 26  IDIOMA2         31651 non-null  object
 27  NIV_ID2         31651 non-null  object
 28  ACREIDI2        31651 non-null  object
 29  TIPOACREIDI2    31651 non-null  object
 30  IDIOMA3         31651 non-null  object
 31  NIV_ID3         31651 non-null  object
 32  ACREIDI3        31651 non-null  object
 33  TIPOACREIDI3    31651 non-null  object
 34  TRBPRN1         31651 non-null  int64
 35  TRBPRN2         31651 non-null  object
 36  TRINAC_D4       31651 non-null  object
 37  TRINAC_D5       31651 non-null  object
 38  TRINAC_D6       31651 non-null  object
 39  TRPARA_D5       31651 non-null  object
 40  TRPARA_D6       31651 non-null  object
 41  TRAC_D9         31651 non-null  object
 42  LUG_TRAB_PAIS   31651 non-null  object
 43  SIT_PRO         31651 non-null  object
 44  HL_E1           31651 non-null  int64
 45  HL_E2           31651 non-null  object
 46  HL_E3           31651 non-null  int64
 47  HL_E5           31651 non-null  object
 48  P_CONTI         31651 non-null  object
dtypes: int64(23), object(26)
memory usage: 11.8+ MB

Como podemos observar, ninguna columna tiene datos nulos de los 31651. Sin emabrgo, a simple vista podemos observar campos vac√≠os. Esto se puede deber a que los valores nulos est√°n contemplados como espacios en blanco

In [59]:
estudiantes.iloc[4]['TRAC_D9'] # Los registros sin datos, son espacios en blanco

' '

In [61]:
estudiantes.replace(' ', pd.NA, inplace=True)

C:\Users\beatr\AppData\Local\Temp\ipykernel_17660\3769466525.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  estudiantes.replace(' ', pd.NA, inplace=True)

In [64]:
estudiantes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31651 entries, 0 to 31650
Data columns (total 49 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   IDENT           31651 non-null  int64
 1   SEXO            31651 non-null  int64
 2   EDAD            31651 non-null  int64
 3   NACIO           31651 non-null  int64
 4   TITU            31651 non-null  int64
 5   RAMA            31651 non-null  int64
 6   AMBITO          31651 non-null  int64
 7   T_UNIV          31651 non-null  int64
 8   DISCA           31651 non-null  int64
 9   ESTUDIOS_PADRE  31651 non-null  int64
 10  ESTUDIOS_MADRE  31651 non-null  int64
 11  EST_B8          31651 non-null  int64
 12  SAT1            31651 non-null  int64
 13  SAT2            27154 non-null  object
 14  EST_B11_1       31651 non-null  int64
 15  EST_B11_2       31651 non-null  int64
 16  EST_B11_3       31651 non-null  int64
 17  EST_B11_4       31651 non-null  int64
 18  EST_B11_5       31651 non-null  int64
 19  EST_B11_6       31651 non-null  int64
 20  EST_B12         7422 non-null   object
 21  IDIOMAS         31651 non-null  int64
 22  IDIOMA1         31651 non-null  object
 23  NIV_ID1         29524 non-null  object
 24  ACREIDI1        29524 non-null  object
 25  TIPOACREIDI1    17084 non-null  object
 26  IDIOMA2         31651 non-null  object
 27  NIV_ID2         13607 non-null  object
 28  ACREIDI2        13607 non-null  object
 29  TIPOACREIDI2    5372 non-null   object
 30  IDIOMA3         31651 non-null  object
 31  NIV_ID3         3423 non-null   object
 32  ACREIDI3        3423 non-null   object
 33  TIPOACREIDI3    1186 non-null   object
 34  TRBPRN1         31651 non-null  int64
 35  TRBPRN2         2089 non-null   object
 36  TRINAC_D4       2089 non-null   object
 37  TRINAC_D5       1627 non-null   object
 38  TRINAC_D6       1627 non-null   object
 39  TRPARA_D5       2438 non-null   object
 40  TRPARA_D6       2438 non-null   object
 41  TRAC_D9         27124 non-null  object
 42  LUG_TRAB_PAIS   31651 non-null  object
 43  SIT_PRO         27124 non-null  object
 44  HL_E1           31651 non-null  int64
 45  HL_E2           23248 non-null  object
 46  HL_E3           31651 non-null  int64
 47  HL_E5           13845 non-null  object
 48  P_CONTI         30972 non-null  object
dtypes: int64(23), object(26)
memory usage: 11.8+ MB

Nuestro objetivo principal es obtener aquellos factores determinantes que influyen a la hora de encontrar trabajo para un estudiante universitario

In [50]:
e = estudiantes[['TRBPRN1',
'TRBPRN2',
'TRINAC_D4',
'TRINAC_D5',
'TRINAC_D6',
'TRPARA_D5',
'TRPARA_D6',]]

In [51]:
e

       TRBPRN1 TRBPRN2 TRINAC_D4 TRINAC_D5 TRINAC_D6 TRPARA_D5 TRPARA_D6
0            1
1            1
2            1
3            1
4            3       1         1         2         3
...        ...     ...       ...       ...       ...       ...       ...
31646        1
31647        1
31648        1
31649        1
31650        1

[31651 rows x 7 columns]

In [47]:
empleo = df.iloc[:, 189:193]

In [48]:
empleo

      HL_E5 HL_JOR HL_E7 HL_E8
0
1         2      1
2
3         2      1
4
...     ...    ...   ...   ...
31646
31647
31648     2      2
31649     2      1
31650     1      2     2     1

[31651 rows x 4 columns]